<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="login.css" />
</head>
<body>
	<div class="login">
		<h2>社員管理ログイン</h1>
			<script>
				alert('[[${msg}]]');
			</script>
		<form action="/menu" method="post">
			<label>ID</label><br>
			<input type="text" name="employee_id"><br>
			<label>パスワード</label><br>
			<input type="password" name="passwords"><br>
			<input type="submit" value="ログイン">
		</form>
	</div>
</body>
</html>